@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,600,700,700i,800|Open+Sans:400,600&display=swap');

/*font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Open Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1100px;
    margin: 0 auto;
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
img{
    max-width: 100%;
    display: block;
}
header{
    padding: 30px;
}
header.row{
    align-items: center;
}
.logo{
    max-width: 30%;
    flex-basis: 30%;
}
.logo a{
    color: #28377e;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
nav{
    max-width: 70%;
    flex-basis: 70%;
}
nav ul{
    justify-content: flex-end;
}
nav ul li a{
    color: #204f87;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    padding: 0 14px;
}
/* ------------2--------------*/

.banner-section{
    position: relative;
}
.orange{
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    transform: translate(-50%, -50%);
}
.banner-content h1{
    font-size: 74px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.1
}